include README.md
include pyproject.toml
include setup.py
recursive-include src *.c *.py
recursive-include tests *.py
recursive-include extern/heapx/include *.h
recursive-include extern/heapx/src *.c *.h
include extern/heapx/LICENSE
